body {
    background-color: #2B2B2B;
    color: #F6F6F6;
    font-family: 'Lato', sans-serif;
}

input {
    color: #2B2B2B;
}

button {
    color: #2B2B2B;
}

th {
    font-size: 1.5em;
    text-align: center;
}

#brand-name {
    font-style: italic;
}

#goal-status {
    visibility: hidden;
}

#goal-section button {
    height: 2.5em;
    width: 5em;
}

#goal-input {
    width: 5em;
    margin-right: 1em;
}

#search-list {
    position: absolute;
    left: 30px;
    width: 1600px;
    margin-left: 1em !important;
    z-index: 10;
}

#search-section {
    margin-left: 2em;
    font-size: 1.2em;
}

#search-list tr {
    font-size: 1em;
    background: #222;
    color: #F6F6F6;
}

#serving {
    margin-left: 2em;
}

.serving-size {
    margin-right: 2em;
    padding: 1em 1em;
}

.serving-unit {
    margin-left: 0.1em;
}

#brand-name {
    margin-left: 0.5em;
}

#edit-icon {
    visibility: hidden;
    font-size: 1em;
}

td:hover #edit-icon {
    visibility: visible;
}

#remove-icon {
    visibility: hidden;
    font-size: 1em;
}

.log-item {
    font-size: 1.2em;
}

.log-item:hover #remove-icon {
    visibility: visible;
}

#log-title {
    margin-bottom: 2em;
    font-size: 3em;
}

#log-section {
    margin-top: 20em;
}


/* .table-header {
    margin-left: 1em;
    padding: 1em;
} */

#log-list {
    margin-left: 1em;
    font-size: 1em;
}

#total-section {
    margin-top: 2em;
}

.result-item td {
    padding: 1em;
}

@media only screen and (max-width: 500px) {
    #search-list {
        font-size: 0.8em;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
